* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 234, 226);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

main {
    max-width: 600px;
    display: flex;
}

.image-container {
    width: 50%;
    background-image: url(images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.image-container img {
    width: 0%;
}

.text-container {
    width: 50%;
    background-color: white;
    padding: 24px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

p {
    color: rgb(108, 114, 137);
    font-family: Montserrat;
    font-size: 14px;
}

h1 {
    color: rgb(28, 35, 43);
    font-family: Fraunces;
    font-size: 32px;
    margin: 24px 0;
}

.price-container {
    margin: 24px 0;
    display: flex;
    align-items: center;
}

.discounted-price {
    color: rgb(61, 129, 104);
    font-family: Fraunces;
    font-size: 32px;
    font-weight: bold;
    margin-right: 24px;
}

.price {
    color: rgb(108, 114, 137);
    font-size: 13px;
    font-family: Montserrat;
    text-decoration: line-through;
}

button {
    width: 100%;
    background-color: rgb(61, 129, 104);
    color: white;
    border-style: none;
    border-radius: 8px;
    padding: 20px;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s;
}

button img {
    margin-right: 10px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(26, 64, 50);
}

@media (min-width:481px) and (max-width:540px) {
    .discounted-price {
        font-size: 24px;
    }
}

@media screen and (max-width:480px) {
    body {
        padding: 0;
        padding: 24px 24px;
    }

    main {
        width: 100%;
        flex-direction: column;
    }

    .image-container {
        width: 100%;
        background-image: none;
        background-color: white;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .image-container img {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .text-container {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
}